/* filter.css */
main {
    max-width:1200px; margin:50px auto 0; min-width:1024px;
    background:#f5f5f5; padding:50px; position:relative;
}
main h1 {margin:0 0 15px; font-weight:600;}
main .filter {position:absolute; right:50px; top:50px;}
main .filter .filter_view {font-size:0.85rem; background:#fff; padding:10px 20px;}
main .filter .filter_view span {font-size:0.5rem;}
main .filter .filter_list {
    display:flex; flex-flow:column nowrap; 
    background:#fff; box-shadow:0 0 10px rgba(0,0,0,0.15);
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    padding:10px;
}
main .filter .filter_list .list {
    line-height:2; font-size:0.75rem; padding:0 5px;
}
main .filter .filter_list .list:hover {background:#f2f2f2;}
main .filter .filter_list .list1 {}
main .filter .filter_list .list2 {}
main .filter .filter_list .list3 {}
main .contents {display:flex; gap:20px;}
main .contents li {
    flex:1; text-align:center; height:350px; background:#fff;
    background-position:center; background-size:cover;
}
main .contents li:nth-child(1) {background-image:url(https://i.namu.wiki/i/x384X7VN5lNVRoHM9jbUl9iy_zppgwCFy7G_xELf8oFePbmi-x4o1XdVkukMWCqHpUtngIEyLnnWPEs_5Cc_7g.webp);}
main .contents li:nth-child(2) {background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGwYGfrSxEgm2toHHvg_AFDqE3RrRJRvSVEw&s);}
main .contents li:nth-child(3) {background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXKHYMMFasW9gfwMGXu0yja3yWKjh16HRgcw&s);}
main .contents li:nth-child(4) {background-image:url(https://i.namu.wiki/i/aD0cdxkIOd7Ov4vsrdamC04cSBaqI3KLwSI8PsYoEkdkmzLOM-Ke1pu5A5cuz8UbCXLVht2JVk1l44VFCx2d2g.webp);}
main .contents li a {display:block; height:100%;}